#countries, .languages{
	padding:0;
}
#countries .country{
	list-style:none;
	padding:0;
	margin:10px;
}
.flag{
	display:block;
	width: 80px;
}
.flag img{
	width: 100%;
	display:block;
	border: 1px solid black;
}
.country p{
	display:inline-block;
	list-style:none;
	float:left;
	margin:0 10px 0 0;
}
.native{
	padding-right:5px;
	border-right:1px solid #000;
}
.native:last-child{
	border:none;
}